---
import Layout from '$src/layouts/Layout.astro';
import { Image, getImage } from 'astro:assets';
import { getCollection } from 'astro:content';
export async function getStaticPaths() {
	const posts_entries = await getCollection('posts');
	return posts_entries.map((entry) => ({ params: { slug: entry.slug }, props: { entry } }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();

console.log('img', entry.data.img);
---

<Layout title={entry.data.title}>
	<article class="wrapper blog_wrapper">
		<header>
			{
				entry.data.img && (
					<div class="mt-0">
						<Image src={entry.data.img} alt={entry.data.title} class="mt-0" />
					</div>
				)
			}
			<div class="border-b-2 border-pink-500">
				<h1 class="gradient_text bg-gradient-to-br from-pink-400 to-rose-600">
					{entry.data.title}
				</h1>
				<p class="text-neutral-500 text-xs mb-2">{entry.data.date}</p>
			</div>
		</header>
		<main>
			<Content />
		</main>
	</article>
</Layout>

<style is:global>
	.blog_wrapper {
		font-size: theme('fontSize.base');

		@screen lg {
			font-size: theme('fontSize.lg');
		}

		* {
			max-width: 50rem;
			margin-left: auto;
			margin-right: auto;
		}

		img,
		*:has(img) {
			@media (min-width: 768px) {
				max-width: 960px;
			}
		}
		img {
			border-radius: theme('borderRadius.lg');
			box-shadow: theme('boxShadow.lg');
			display: block;
			margin: theme('spacing.6') auto;
			width: 100%;
		}

		h1 {
			font-size: theme('fontSize.4xl');
			font-weight: theme('fontWeight.bold');
			font-style: italic;

			@screen lg {
				font-size: theme('fontSize.5xl');
			}
		}

		h2 {
			font-size: theme('fontSize.3xl');
			margin-bottom: theme('spacing.3');
			margin-top: theme('spacing.16');
			font-weight: theme('fontWeight.bold');
			font-style: italic;
			color: theme('colors.pink.600');
		}

		p {
			margin-bottom: theme('spacing.6');
			line-height: 2;
		}

		a {
			text-decoration: underline;
			color: theme('colors.pink.600');
		}
	}
</style>
