---
import Layout from '$src/layouts/Layout.astro';
import { Image } from 'astro:assets';
import Stripe from '$src/components/Stripe.astro';

import snapping_img from '$src/assets/imgs/snapping.jpg';
import jazz_img from '$src/assets/imgs/jazz.jpg';
import bunnies_img from '$src/assets/imgs/bunnies.jpg';
import gymnastics_img from '$src/assets/imgs/gymnastics.jpg';
import danceacro_img from '$src/assets/imgs/danceacro.jpg';
import realdanceacro_img from '$src/assets/imgs/realdanceacro.jpg';
import ballet_img from '$src/assets/imgs/ballet.jpg';
import flip_img from '$src/assets/imgs/acrowithmyback.jpg';
---

<Layout title="Classes">
	<header class="wrapper">
		<Image
			src={jazz_img}
			width={2000}
			alt="Girls laughing and having fun."
			class="w-full mx-auto rounded-lg shadow-lg aspect-square sm:aspect-video lg:aspect-[16/6] object-cover"
		/>
	</header>
	<main>
		<Stripe
			img={bunnies_img}
			img_alt="snapping image"
			img_side="left"
			title="Bouncin' Bunnies"
			subtitle="1 year old to 3 years old"
		>
			<p class="font-bold text-pink-600 mb-3">$13.00 For An Hour Class OR $49 a Month</p>
			<p class="text-lg leading-loose">
				This is a "mommy and me" style class where the child is accompanied by a parent or guardian
				(just one). The two of you will do a medley of activities designed to help aid the
				development of motor skills and coordination. This includes simple dances, obstacle courses,
				and stretches. No equipment is needed but parents and children must wear socks.
			</p>
		</Stripe>
		<Stripe
			img={gymnastics_img}
			img_alt="handstands"
			img_side="right"
			title="Gymnastics"
			subtitle="Ages 2 1/2 and Up"
		>
			<p class="font-bold text-pink-600 mb-3">
				2 1/2 to 6 Years Old: $13.00 For An Hour Class OR $49 a Month
			</p>
			<p class="font-bold text-pink-600 mb-3">
				7 Years Old or 2nd Grade and Up: $18.50 For An Hour and a Half Class OR $70 a Month
			</p>
			<p class="text-lg leading-loose">
				This class is split up into different gymnastics skills: floor tumbling, uneven bars,
				balance beam, and vault. Gymnastics is a great way to build strength and coordination that
				can be used later in most sports. A leotard and gymnastics shoes are required.
			</p>
		</Stripe>
		<Stripe
			img={danceacro_img}
			img_alt="a bunch of little ballerinas"
			img_side="left"
			title="Tap, Ballet, & Acrobatics"
			subtitle="Ages 2 1/2 to 6 Years Old"
		>
			<p class="font-bold text-pink-600 mb-3">$13.00 For An Hour Class OR $49 a Month</p>
			<p class="text-lg leading-loose">
				<strong>If your child is 2, they must turn 3 by December 31st.</strong> This class mixes tap
				for rhythm, ballet for poise, plus floor tumbling for body awareness and fun. This class can
				supply the basics needed to go into any type of dance and prepare children as young as 2 years
				old. Ballet and tap shoes will eventually be required as well as a leotard.
			</p>
		</Stripe>
		<Stripe
			img={realdanceacro_img}
			img_alt="Dance Acro"
			img_side="right"
			title="Dance & Acrobatics"
			subtitle="Ages 5 and Up"
		>
			<p class="font-bold text-pink-600 mb-3">$13.00 For An Hour Class OR $49 a Month</p>
			<p class="text-lg leading-loose">
				This hour long class is divided in half; one half being dedicated to hip hop and jazz style
				dance, and the other is devoted to floor tumbling. Gymnastics shoes and a leotard will
				eventually be required.
			</p>
		</Stripe>
		<Stripe
			img={ballet_img}
			img_alt="Tap & Ballet"
			img_side="left"
			title="Tap & Ballet"
			subtitle="Ages 7 and Up"
		>
			<p class="font-bold text-pink-600 mb-3">$13.00 For An Hour Class OR $49 a Month</p>
			<p class="text-lg leading-loose">
				This class mixes two types of dance over a period of an hour. 30 minutes of ballet and 30
				minutes of tap. Ballet and tap shoes will eventually be required as will a leotard.
			</p>
		</Stripe>
		<Stripe
			img={snapping_img}
			img_alt="Two Girls Snapping"
			img_side="right"
			title="Jazz"
			subtitle="Age 7 or 2nd Grade & Up"
		>
			<p class="font-bold text-pink-600 mb-3">$13.00 For An Hour Class OR $49 a Month</p>
			<p class="text-lg leading-loose">
				This class will teach a mixture of traditional jazz and the latest in hip hop steps. This is
				an ideal class for anyone who wants to learn the foundation for most modern dances. A
				leotard plus either jazz or ballet shoes will be required.
			</p>
		</Stripe>
		<Stripe
			img={flip_img}
			img_alt="Two cool kids flipping."
			img_side="left"
			title="Acro"
			subtitle="Age 7 or 2nd Grade & Up"
		>
			<p class="font-bold text-pink-600 mb-3">$13.00 For An Hour Class OR $49 a Month</p>
			<p class="text-lg leading-loose">
				This class is all floor tumbling. Most of the focus is on both power tumbling (round-offs,
				back handsprings, back tucks, etc.) and contortion work (splits, baskets, straddles, etc.).
				Gymnastics shoes and a leotard are required.
			</p>
		</Stripe>
	</main>
</Layout>
