---
import { Image, Picture } from 'astro:assets';

interface PropsType {
	img_side?: 'left' | 'right';
	img?: any;
	img_alt?: string;
	title?: string;
	subtitle?: string;
	class?: string;
}
const { img_side = 'left', img, img_alt, title, subtitle, class: className = '' }: PropsType = Astro.props;
---

<div class="stripe py-24" class:list={[img_side, className]}>
	<div
		class="wrapper grid justify-center lg:grid-cols-2 grid-flow-dense gap-10 lg:gap-20 items-center"
	>
		{
			img_side === 'left' && (
				<div class="stripe_image">
					<Picture src={img} alt={img_alt} formats={['avif', 'webp', 'jpg']} widths={[300, 450, 750]} />
				</div>
			)
		}
		<div class="@container">
			<header class="mb-6">
				<h2
					class="text-3xl @md:text-4xl @lg:text-5xl italic gradient_text bg-gradient-to-t to-pink-500 from-rose-300 text-pink-500 font-fancy font-black w-fit p-1"
				>
					{title}
				</h2>
				{subtitle && <h3 class=" mt-2 text-xl text-pink-500 ">{subtitle}</h3>}
			</header>
			<slot />
		</div>
		{
			img_side === 'right' && (
				<div class="stripe_image right_img">
					<Image src={img} alt={img_alt} width={750} />
				</div>
			)
		}
	</div>
</div>

<style>
	.stripe {
		text-align: left;
		--animation-direction: -1;

		img {
			--animation-y: 100px;
			--animation-x: 0px; 
			
			border-radius: theme('borderRadius.xl');
			box-shadow: theme('boxShadow.lg');

			@supports (animation-timeline: scroll()) {
				 @media (prefers-reduced-motion: no-preference){
					animation: pic-pop linear forwards;
					animation-timeline: view();
					animation-range: entry;
				}
			}

			@screen lg {
				--animation-y: 0px;
				--animation-x: 100px;
			}
		}

		.right_img {
			--animation-direction: 1;
			grid-row: -1 / span 1;

			@screen lg {
				grid-column: 2 / span 1;
			}
		}
	}

	@keyframes pic-pop {
		from{
			scale: .9 .9;
			translate: calc(var(--animation-x) * var(--animation-direction)) var(--animation-y);
		}
		to {
			scale: 1 1;
			translate: 0 0;
		}
	}
</style>
